html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Manrope', sans-serif;
  background: red;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: 20px;
  width: 450px;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
}

.comment-box {
  padding: 5px;
  text-align: center; /* Center the content within comment-box */
}

.comment-btns {
  display: flex;
  justify-content: center;
  margin-top: 15px; /* Adjust as needed */
}

.comment-area textarea {
  resize: none;
  border: 1px solid #ad9f9f;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ffffff;
  outline: 0;
  box-shadow: 0 0 0 1px rgb(0, 68, 255) !important;
}

.send {
  color: #fff;
  background-color: #00ff62;
  border-color: #00ff62;
}

.send:hover {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.rating {
  display: flex;
  margin-top: -10px;
  flex-direction: row-reverse;
  margin-left: -4px;
  float: left;
}

.rating>input {
  display: none;
}

.rating>label {
  position: relative;
  width: 19px;
  font-size: 25px;
  color: rgb(0, 4, 255);
  cursor: pointer;
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important;
}

.rating>input:checked~label:before {
  opacity: 1;
}

.rating:hover>input:checked~label:before {
  opacity: 0.4;
}
